@import 'reset.css';

// 변수설정
$width-point: 800px;

/* app */
body {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

#root {
  display: flex;
  justify-content: center;
}
.App {
  max-width: 80rem;
}

header {
  display: grid;
  grid-template-columns: 150px auto;
  height: 50px;
  border-bottom: 1px solid gray;

  .logo {
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    color: white;
    font-weight: bold;
  }
  .search {
    display: flex;
    margin-left: 1rem;
    padding: 0.5rem;

    .search-input {
      margin: 0;
      width: 80%;
      height: 35px;
      font-size: 1.2rem;
    }
    .search-btn {
      width: 50px;
      height: 35px;
      border: 1px solid gray;
      border-left: none;
      cursor: pointer;
    }
  }
}

.main {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'list';

  .post {
    grid-area: post;
    padding: 1rem;

    video {
      width: 100%;
      border: 1px solid gray;
    }
    .title {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0.25em 0;
    }
    .view,
    .date {
      color: gray;
    }
    .desc {
      margin-top: 1em;
    }
  }

  .videoList {
    grid-area: list;
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    .videoItem {
      display: flex;
      flex-direction: row;
      width: 50%;
      padding: 0.3em;
      border: 1px solid lightgray;
      cursor: pointer;
      transition: transform 250ms ease-in;

      .thumbnail {
        width: 25%;
        height: 100%;
        object-fit: cover;
        background: gray;
        margin-right: 0.5rem;
      }
      .info {
        width: 75%;
      }
      .title {
        margin-top: 0.5rem;
        font-weight: bold;
      }
      .channel {
        margin-top: 0.5rem;
        font-size: 0.9em;
        color: rgb(78, 78, 78);
      }
      .view,
      .date {
        font-size: 0.9em;
        color: gray;
      }
    }
    .videoItem:hover {
      transform: scale(1.01);
    }
  }

  //화면크기 작아지면
  @media (max-width: $width-point) {
    // grid-template-columns: auto;
    // grid-template-areas:
    //   'post'
    //   'list';

    .videoList {
      .videoItem {
        width: 100%;
      }
    }
  }
}
